html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}


/*Top*/
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width:1000px;
}

.jumbotron {
    margin-bottom: 20px;
    background-image: url(../image/heroshot.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: none;
}

.jumbotron .title{
	float: left;
}

.jumbotron .subtitle{
	clear:both;
}

.jumbotron .description{

}

#top {

}

#top .block{
	margin-top: 15px;
	margin-bottom: 15px;
}

#top .block .title{
	color: #666666;
	text-align: center;
	font-size: 36px;
	margin-top: -10px;
	margin-bottom: 30px;
}

#top .block .subtitle{
	color: #666666;
	text-align: center;
	font-size: 26px;
	margin-top: 10px;
}

#top .block .description{
	color: #666666;
	margin-top: 4px;
}

#top .block .description .head{
	font-size: 22px;
}

#top .block .description .body{
	font-size: 16px;
}

#top .block .thumbnail{
	border: 0 none;
	box-shadow: none;
}

#top .block .thumbnail img{
	width: 200px;
}

#top .block .thumbnail .caption h3{
	color: #EF4481;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
}

#top .block .thumbnail .caption p{
	font-size: 18px;
	text-align: center;
}

#top #usecase {
	background-color: #3366CB;
	padding: 20px;
}

#top #usecase .block{
	margin-top: 15px;
	margin-bottom: 15px;
}

#top #usecase .block .title{
	color: #ffffff;
}

#top #usecase .block img{
	height: 200px;
}

#top #usecase .block .pos{
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	height: 200px;
}

#top #usecase .block .pos .head{
	color: #ffffff;
	font-size: 22px;
	padding-left: 10px;
	padding-right: 10px;
}

#top #usecase .block .pos .body{
	color: #ffffff;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

#top #usecase .block img{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
/*Footer*/
#footer {
	padding-top: 10px;
	height: 120px;
	background-color: #666666;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer .item{
	float: left;
}

#footer a{
	color: #cccccc;
}

#footer .address{
	color: #ffffff;
	text-align: right;
	padding-right: 20px;
	margin-top: 10px;
}

/*Contact*/
#contact {

}

#contact .overview{
	color: #888888;
	font-size: 16px;
}

#contact .item{
	color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}

#contact .item .notice{
	color: #ff0000;
}

#contact .item .subtitle{
	display: inline;
}

#contact .note {

}

#contact .note .title{
	font-size: 18px;
	font-weight: bold;
	color: #888888;
}

#contact .note .subtitle{
	color: #5cb85c;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 0em;
	padding: 0px;
}

#contact .note .description{
	color: #666666;
	font-size: 16px;
	padding: 0px;
}

#contact .footer {
	margin-top: 20px;
	margin-bottom: 30px;

}

#overview{
	background-color: #888888;
}

#overview .title{
	color: #ffffff;
	font-size: 28px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#overview .message{
	color: #ffffff;
	font-size: 22px;
	padding-left: 20px;
	padding-top: 14px;
}

#overview .title_dark{
	color: #333333;
	font-size: 28px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#overview .message_dark{
	color: #333333;
	font-size: 22px;
	padding-left: 20px;
	padding-top: 14px;
}

#overview .description1{
	background-color: #2a5a72;
}

#overview .description2{
	background-color: #a4b940;
}

#overview .description3{
	background-color: #79bee9;
}

#overview .description4{
	background-color: #f7ad1c;
}

#overview .description5{
	background-color: #ed622c;
}

#overview .description5 .joinButton{
	margin-top: 20px;
	margin-left: 20px;
}