<div id="overview" ng-controller="overviewController">
	<div class="description1">
		<div class="title" translate="overview.title1">First impression[ファーストインプレッション]</div>
		<div class="message" translate="overview.description1">First impressionは、あなたが思いついたアイデアやコンセプトに対するみんなの反応を、その瞬間にすぐに確認することができるサービスです。</div>
	<img src="image/overview1.jpg" class="img-responsive">
	</div>
	<div class="description2">
		<div class="title" translate="overview.title2">市場の反応が分からない</div>
		<div class="message" translate="overview.description2">あなたが新しい商品やサービスを開発中、市場の反応を知りたいと思いませんか？<br>
		ただ、今は市場調査をするとお金も時間もかかってしまう。<br>
		かといって周りの人に聞くだけだと、偏りがあって完全には信用できない。<br>
		そんな悩みを解決したい、そう想いこのサービスを立ち上げました。</div>
		<img src="image/overview2.jpg" class="img-responsive">
	</div>
	<div class="description3">
		<div class="title" translate="overview.title3">思いついたら、すぐに確認。リアルタイムに、返信。</div>
		<div class="message" translate="overview.description3">気になったことがあったら、すぐに聞いてみましょう。<br>
		アイデアやコンセプトの検討段階では、他社よりも早く世の中に商品を出すため、早さが大事です。<br>
		そのため、このFirst Impressionのウリは、素早さ。<br>
		あなたが思いついたアイデアを素早く確認し、迅速に返信をもらうことができます</div>
		<img src="image/overview3.jpg" class="img-responsive">
	</div>
	<div class="description4">
		<div class="title" translate="overview.title4">ABテスト形式で、楽に質問、楽に回答。</div>
		<div class="message" translate="overview.description4">通常のアンケートだと、答える側も時間がかかってしまいます。<br>
		時間をかけることなく、思いついたアイデアやコンセプトを確認できるよう、回答はABテスト形式です。</div>
		<img src="image/overview4.jpg" class="img-responsive">
	</div>
	<div class="description5">
		<div class="title" translate="overview.title5">早速始めてみよう。</div>
		<div class="message" translate="overview.description5">First Impressionは、もちろんすべて無料。</div>
		<div class="joinButton">
			<button type="submit" class="btn btn-primary btn-lg" ng-click="getStartedButtonPressed()" translate="overview.start_button">First Impressionに参加してみる</button>
		</div>
		<img src="image/overview5.jpg" class="img-responsive">
	</div>
</div>